.git
.github
.gitignore
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
database/*.sqlite-journal
tests
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
.fleet
.nova
.zed
README.md
docker-compose.yml
